{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main>
    <h1 class="mt-5">Список сторінок</h1>
    <div>My first Pet Project</div>
    <div class="card mt-5 ">
        <div class="card-body">
            <div class="row">
                <div class="col-2  text-center ">
                    <div class="col-6">
                        <a href="/summary" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Summary</a>
                        <a href="/skills" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Skills</a>
                        <a href="/education" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Education</a>
                        <a href="/work" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Work</a>
                    </div>
                </div>
                <div class="col-2 container text-center">
                    <div class="col-6">
                        <a href="/person" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Person</a>
                        <a href="/bio" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Bio</a>
                        <a href="/program" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Program</a>
                        <a href="/web" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Web</a>
                    </div>
                </div>
                <div class="col-2 container text-center">
                    <div class="col-6">
                        <a href="/car" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Car</a>
                        <a href="/facebook" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Faceebook</a>
                        <a href="/js" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Js</a>
                        <a href="/mac" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Macbook</a>
                    </div>
                </div>
                <div class="col-2 container text-center">
                    <div class="col-6">
                        <a href="/task21" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Task 2.1</a>
                        <a href="/task22" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Task 2.2</a>
                        <a href="/task31" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Task 3.1</a>
                        <a href="/bootstrapNew" target="_blank"
                            class="btn btn-outline-secondary mt-2 mb-2">Bootstrap</a>
                    </div>
                </div>
                <div class="col-2 container text-center">
                    <div class="col-6">
                        <a href="/shophome" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Shop home</a>
                        <a href="/Shoporder" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Shop order</a>
                        <a href="/shopcart" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Shop cart</a>
                    </div>
                </div>
                <div class="col-2 container text-center">
                    <div class="col-6">
                        <a href="/shopprofile" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Shop
                            profile</a>
                        <a href="/Shopreview" target="_blank" class="btn btn-outline-secondary mt-2 mb-2">Shop
                            review</a>
                        <a href="/shopcatalog" target="_blank" class="btn btn-outline-secondary mt-2 mb-2 ">Shop
                            catalog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}