<div>
    <ul>
        <li>
            <div><b>Id:</b> {{id}}</div>
        </li>
        <div><b>Name:</b> {{name}}</div>
        <div><b>Gender:</b> {{gender}}</div>
        <div><b>Age:</b> {{age}}</div>
    </ul>
</div>